<basic-template>
  <header-slot>
    <a class="page-name" [routerLink]="['/']"><h1>Project Board</h1></a>
    <span>
      <button (click)="addItemCard()">Add Item</button>
    </span>
    <span>
      <button (click)="refreshScrumService()">Refresh Items</button>
    </span>
    <span>
      <login-logout></login-logout>
    </span>
  </header-slot>
  <main-slot>
    <div class="project-body">
      <project-header></project-header>
      <scrum-list class="w-100" [items]="scrumService.items"></scrum-list>
    </div>
  </main-slot>
</basic-template>
