<basic-template>
  <header-slot>
    <a class="page-name" [routerLink]="['/']">
      <h1>Internet Artifice</h1>
    </a>
    <span>
      <a class="button" [routerLink]="['/boards']">Project Boards</a>
    </span>
    <span>
      <a class="button" [routerLink]="['/tracker']">Time Tracker</a>
    </span>
    <span>
      <login-logout></login-logout>
    </span>
  </header-slot>
  <main-slot>
    <form-request-access (success)="onSuccess()"> </form-request-access>
  </main-slot>
</basic-template>
