<div class="loader-sizing">
  <content-loader viewBox="0 0 300 200" backgroundColor="#CCC">
    <svg:rect x="0" y="0" rx="2" ry="2" width="300px" height="200px" />
  </content-loader>
  <content-loader viewBox="0 0 300 200">
    <svg:rect x="12" y="12" rx="2" ry="2" width="200px" height="24px" />
    <svg:rect x="12" y="58" rx="2" ry="2" width="64px" height="24px" />

    <svg:rect x="12" y="92" rx="2" ry="2" width="276px" height="24px" />
    <svg:rect x="12" y="124" rx="2" ry="2" width="106px" height="24px" />
    <svg:rect x="12" y="164" rx="2" ry="2" width="48px" height="24px" />
    <svg:rect x="68" y="164" rx="2" ry="2" width="64px" height="24px" />
  </content-loader>
</div>
