<div class="project-header">
  <div
    *ngIf="
      !projectService.loading;
      then titleBlock;
      else projectLoadingBlock
    "></div>
  <ng-template #titleBlock>
    <span class="project-title">
      <div
        *ngIf="
          !projectTitleToggle;
          then projectTitleBlock;
          else projectEditTitleBlock
        "></div>
      <ng-template #projectTitleBlock>
        <h2>{{ projectService.project.name }}</h2>
        <ng-icon
          *ngIf="basicAuthService.user !== null"
          name="tablerPencil"
          color="#66a"
          size="1.75rem"
          aria-hidden="false"
          aria-label="Open edit title"
          (click)="editProjectTitleToggle()">
        </ng-icon>
      </ng-template>
      <ng-template #projectEditTitleBlock>
        <form
          [formGroup]="this.formTitle"
          (ngSubmit)="onClickSubmitTitle()"
          class="project-title__form">
          <label for="title" class="visually-hidden">
            <b>Project Title</b>
          </label>
          <input
            #title
            class="title--edit"
            formControlName="title"
            required
            type="text" />
          <ng-icon
            name="tablerCircleCheck"
            color="#6a6"
            size="1.75rem"
            aria-hidden="false"
            aria-label="Submit title change"
            (click)="onClickSubmitTitle()">
          </ng-icon>
        </form>
      </ng-template>
      <div class="action-bar">
        <a class="button pill" *ngFor="let tag of projectService.project.tags">
          {{ tag }}
        </a>
      </div>
    </span>
    <span class="project-description">
      <div
        *ngIf="
          !projectDescToggle;
          then projectDescBlock;
          else projectEditDescBlock
        "></div>
      <ng-template #projectDescBlock>
        <p>{{ projectService.project.description }}</p>
        <ng-icon
          *ngIf="basicAuthService.user !== null"
          name="tablerPencil"
          color="#66a"
          size="1.25rem"
          aria-hidden="false"
          aria-label="Open description title"
          inline="true"
          (click)="editProjectDescriptionToggle()">
        </ng-icon>
      </ng-template>
      <ng-template #projectEditDescBlock>
        <form
          [formGroup]="this.formDescription"
          (ngSubmit)="onClickSubmitDescription()">
          <label for="description" class="visually-hidden">
            <b>Project Description</b>
          </label>
          <textarea
            #description
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"
            class="desc--edit"
            formControlName="description"
            required>
          </textarea>
          <ng-icon
            name="tablerCircleCheck"
            color="#6a6"
            size="1.25rem"
            aria-hidden="false"
            aria-label="Submit description change"
            (click)="onClickSubmitDescription()">
          </ng-icon>
        </form>
      </ng-template>
    </span>
  </ng-template>
  <ng-template #projectLoadingBlock>
    <project-header-loader></project-header-loader>
  </ng-template>
</div>
