.project-header {
  flex: 0;

  .project-title {
    display: flex;
    flex-direction: row;
    margin: 8px 0;

    .action-bar {
      margin: auto 0;
    }

    &__form {
      flex: 0;
    }

    h2 {
      margin: 0;
    }

    .button.pill {
      margin: auto 0 auto 0.5rem;
    }
  }

  form {
    flex: 1;
    display: flex;
  }

  .title--edit {
    font-size: 24px;
    margin: 0;
    padding: 0;
    border: none;
    font-family: inherit;
  }

  .desc--edit {
    width: calc(100% - 24px);
    font-size: 16px;
    padding: 0;
    border: none;
    font-family: inherit;
  }

  .icon--vert-align {
    margin: 4px 0 auto 4px;
    transition: all 0.5s ease-in-out;
    transform: scale(0.85);
    opacity: 0;
    border-radius: 50%;

    &.icon--green {
      margin: auto;
    }
  }

  .project-description {
    display: flex;
    flex-direction: row;
  }

  .project-title:hover .icon--vert-align,
  .project-description:hover .icon--vert-align {
    opacity: 1;
    transform: scale(1);
    cursor: pointer;
  }

  .project-description p {
    margin-top: 0;
    color: #555;
  }
}
