<div *ngIf="show || forceShow" class="modal__background">
  <div class="modal__container">
    <div class="modal__header">
      <div class="header__content">
        <ng-content select="header-slot"></ng-content>
      </div>
      <button *ngIf="canClose" (click)="close()">
        <mat-icon color="black" aria-hidden="false" aria-label="Close modal"
          >close</mat-icon
        >
      </button>
    </div>
    <div class="modal__body">
      <ng-content select="body-slot"></ng-content>
    </div>
    <div class="modal__footer action-bar">
      <ng-content select="footer-slot"></ng-content>
    </div>
  </div>
</div>
