.modal__background {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  & .modal__container {
    display: flex;
    flex-direction: column;
    background: #aaccff;
    max-width: 50rem;
    max-height: 32rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: #00000033 0 0 0.5rem;

    & .modal__header,
    & .modal__body,
    & .modal__footer {
      padding: 0.5rem;
    }

    & .modal__header {
      display: flex;
      flex-direction: row;
      background: rgba(0, 0, 0, 0.1);
      flex: 0;

      & .header__content {
        flex: 1;
        align-self: center;
      }

      & button {
        flex: 0;
        background: transparent;
        border: none;
        box-shadow: none;

        & svg {
          transform: scale(0.75);
        }

        &:hover {
          background: rgba(0, 0, 0, 0.1);
          cursor: pointer;

          & svg {
            transform: scale(0.9);
          }
        }
      }
    }

    & .modal__body {
      flex: 1;
    }

    & .modal__footer {
      background: rgba(0, 0, 0, 0.1);
      flex: 0;
    }
  }
}
