<article
  [ngStyle]="{
    'box-shadow':
      '4px 4px 8px ' + darkColour + ', -4px -4px 8px ' + lightColour,
    color: colour,
    background: backgroundColour
  }">
  <header>
    <h3 title="{{ item.title }}">{{ item.title }}</h3>
  </header>
  <div>
    <a
      class="pill"
      [ngStyle]="{ background: colour, colour: backgroundColour }">
      v{{ item.version }}
    </a>
  </div>
  <p>
    {{ startDescription }}{{ remainderDescription }}
    <button
      *ngIf="MAX_SHORT < item.description.length"
      class="flat"
      [ngStyle]="{
        color: backgroundColour?.isDark
          ? colour?.darken(0.2)
          : colour?.lighten(0.33)
      }"
      (click)="toggleDescription()">
      {{ toggleTitle }}
    </button>
  </p>
  <div class="progress-wrap" [ngStyle]="{ 'background-color': darkColour }">
    <progress
      id="progress"
      value="{{ item.progress }}"
      max="100"
      [ngStyle]="{
        'background-color': backgroundColour
      }"></progress>
    <span>{{ item.progress }}%</span>
  </div>
  <div class="action-bar">
    <button
      [disabled]="!basicAuthService.user"
      (click)="editItem($event)"
      [ngStyle]="{
        color: colour,
        background: backgroundColour?.darken(0.1),
        'box-shadow':
          '4px 4px 8px ' +
          darkColour?.lighten(4) +
          ', -4px -4px 8px ' +
          lightColour?.lighten(1)
      }">
      Edit
    </button>
    <button
      [disabled]="!basicAuthService.user"
      (click)="deleteItem($event)"
      [ngStyle]="{
        color: colour,
        background: backgroundColour?.darken(0.1),
        'box-shadow':
          '4px 4px 8px ' +
          darkColour?.lighten(4) +
          ', -4px -4px 8px ' +
          lightColour?.lighten(1)
      }">
      Delete
    </button>
  </div>
</article>
