article {
  color: var(--primary-color);
  padding: 16px;
  margin-block-end: 1rem;
  border-radius: 12px;

  .pill {
    padding: 2px 4px;
  }

  p button {
    border: none;
    background: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  .progress-wrap {
    position: relative;
    opacity: 0.75;
    padding: 0.5rem 0;
    margin: 0 0 16px 0;

    progress {
      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0.75;

      &::-webkit-progress-bar,
      &::-webkit-progress-value {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    span {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: -2px;
      color: white;
    }
  }

  h3 {
    margin-block-start: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action-bar button {
    margin-inline-end: 0.5rem;
  }
}
