<basic-template>
  <header-slot>
    <a class="page-name" [routerLink]="['/']"><h1>List</h1></a>
    <span>
      <button (click)="addListItem()">Add Item</button>
    </span>
    <span>
      <button (click)="refreshListService(listName)">Refresh Items</button>
    </span>
    <span>
      <login-logout></login-logout>
    </span>
  </header-slot>
  <main-slot>
    <div class="project-body">
      <scrum-list class="w-100" [items]="scrumService.items"> </scrum-list>
    </div>
  </main-slot>
</basic-template>
