<modal [events]="modalEvents.asObservable()">
  <header-slot>
    <h3>Something seems off</h3>
  </header-slot>
  <body-slot>
    <div class="notification notification--error">
      <p *ngIf="scrumService.error?.error?.message?.length">
        {{ scrumService.error?.error?.message }}
      </p>
      <p *ngIf="projectService.error?.error?.message?.length">
        {{ projectService.error?.error?.message }}
      </p>
    </div>
  </body-slot>
  <footer-slot>
    <button (click)="goBack()">Go Back</button>
  </footer-slot>
</modal>
