<div class="loader-sizing">
  <content-loader viewBox="0 0 600 64" backgroundColor="#CCC">
    <svg:rect x="0" y="0" rx="2" ry="2" width="120px" height="29px" />
    <svg:rect x="125" y="0" rx="2" ry="2" width="90px" height="29px" />
    <svg:rect x="230" y="0" rx="2" ry="2" width="48px" height="29px" />
    <svg:rect x="287" y="0" rx="2" ry="2" width="96px" height="29px" />
    <svg:rect x="0" y="32" rx="2" ry="2" width="340px" height="19px" />
    <svg:rect x="352" y="32" rx="2" ry="2" width="196px" height="19px" />
  </content-loader>
</div>
