// @tailwind base;
@tailwind components;
@tailwind utilities;

@import "base/reset";
@import "base/variables";
@import "base/display";
@import "base/typography";
@import "base/layout";
@import "base/button";
@import "base/card";
@import "base/form";

.visually-hidden {
  position: absolute;
  left: -10000px;
}

.notification {
  background: #fff;
  border: 1px solid #666;
  padding: 0 0.5rem;
  margin: 0 0 0.5rem;
}

.notification--error {
  background: #bb8888;
  border: 1px solid #773333;
}

.notification--success {
  background: #88bb88;
  border: 1px solid #337733;
}

scrum-list {
  min-width: 100%;
  width: 100%;
}

.icon--blue {
  color: darkslateblue;
  background: lightsteelblue;
}

.icon--green {
  color: darkgreen;
  background: lightgreen;
}
