<div class="loader-sizing">
  <content-loader viewBox="0 0 664 202" backgroundColor="#CCC">
    <svg:rect x="0" y="0" rx="2" ry="2" width="56px" height="56px" />
    <svg:rect x="64" y="0" rx="2" ry="2" width="300px" height="24px" />
    <svg:rect x="64" y="32" rx="2" ry="2" width="450px" height="24px" />

    <svg:rect x="0" y="68" rx="2" ry="2" width="56px" height="56px" />
    <svg:rect x="64" y="68" rx="2" ry="2" width="300px" height="24px" />
    <svg:rect x="64" y="100" rx="2" ry="2" width="600px" height="24px" />

    <svg:rect x="0" y="136" rx="2" ry="2" width="56px" height="56px" />
    <svg:rect x="64" y="136" rx="2" ry="2" width="300px" height="24px" />
    <svg:rect x="64" y="168" rx="2" ry="2" width="500px" height="24px" />
  </content-loader>
</div>
