.columns {
  display: grid;
  min-width: 100%;

  &.columns--2 {
    grid-template-columns: 1fr 1fr;
  }
  &.columns--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.columns--4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .column {
    padding: 0 0.5rem;
  }

  .column:first-of-type {
    padding-left: 0;
  }

  .column:last-of-type {
    padding-right: 0;
  }

  .cdk-drop-list {
    height: 100%;
  }
}
