<div *ngIf="!scrumService.loading; then loadedBlock; else loadingBlock"></div>
<ng-template #loadedBlock>
  <div cdkDropListGroup class="columns" [class]="columnsClass()">
    <section class="column" *ngFor="let category of categoryList">
      <h3>
        {{ category.title }}
      </h3>
      <div
        cdkDropList
        [cdkDropListData]="category"
        (cdkDropListDropped)="dropHandler($event)">
        <div *ngFor="let scrumItem of scrumService.items">
          <div
            cdkDrag
            [cdkDragData]="scrumItem"
            *ngIf="scrumItem.status === category.status">
            <scrum-item-loader
              class="example-custom-placeholder"
              *cdkDragPlaceholder></scrum-item-loader>
            <scrum-item
              *ngIf="!scrumItem.editing; else elseBlock"
              [item]="scrumItem">
            </scrum-item>
            <ng-template #elseBlock>
              <edit-scrum-item [item]="scrumItem"> </edit-scrum-item>
            </ng-template>
          </div>
        </div>
      </div>
    </section>
  </div>
</ng-template>
<ng-template #loadingBlock>
  <div class="columns columns--3">
    <section class="column">
      <scrum-item-loader></scrum-item-loader>
      <scrum-item-loader></scrum-item-loader>
    </section>
    <section class="column">
      <scrum-item-loader></scrum-item-loader>
    </section>
    <section class="column">
      <scrum-item-loader></scrum-item-loader>
      <scrum-item-loader></scrum-item-loader>
      <scrum-item-loader></scrum-item-loader>
    </section>
  </div>
</ng-template>
