form {
  border-radius: 12px;
  margin-block-end: 1rem;
  padding: 16px;

  input[type="range"] {
    width: 100%;
    color: var(--input-color);
    background-color: var(--input-background-color);

    &::-webkit-progress-bar,
    &::-webkit-progress-value {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  & .action-bar {
    display: block;

    & button,
    & span {
      margin-inline-end: 0.5rem;
    }
  }
}
