<form
  [ngStyle]="{
    'box-shadow':
      '4px 4px 8px ' + darkColour + ', -4px -4px 8px ' + lightColour,
    color: colour,
    background: backgroundColour
  }"
  [formGroup]="this.itemFormGroup"
  (ngSubmit)="onClickSubmit()">
  <div class="visually-hidden">
    <label for="id">Hidden field id</label>
    <input formControlName="id" required type="text" />
  </div>
  <div>
    <label for="title">Title</label>
    <input formControlName="title" required type="text" />
  </div>
  <div>
    <label for="description">Description</label>
    <input formControlName="description" required type="text" />
  </div>
  <div>
    <label for="progress">Progress</label>
    <input formControlName="progress" type="range" min="0" max="100" />
  </div>
  <div>
    <label for="status">Status</label>
    <select formControlName="status" required>
      <option value="todo">To Do</option>
      <option value="progress">In Progress</option>
      <option value="done">Done</option>
    </select>
  </div>
  <div>
    <label for="status">Version</label>
    <input formControlName="version" required type="text" />
  </div>
  <div class="visually-hidden">
    <label for="editing">Hidden field editing flag:</label>
    <input formControlName="editing" type="checkbox" />
  </div>
  <div class="visually-hidden">
    <label for="order">Hidden field order number:</label>
    <input formControlName="order" type="text" />
  </div>
  <div class="action-bar">
    <span *ngIf="editing">Saving...</span>
    <button
      *ngIf="!editing"
      [disabled]="!basicAuthService.user"
      type="submit"
      [ngStyle]="{
        color: colour,
        background: backgroundColour?.darken(0.1),
        'box-shadow':
          '4px 4px 8px ' +
          darkColour?.lighten(4) +
          ' , -4px -4px 8px ' +
          lightColour?.lighten(1)
      }">
      Save
    </button>
    <button
      type="button"
      (click)="onCancelEdit()"
      [ngStyle]="{
        color: colour,
        background: backgroundColour?.darken(0.1),
        'box-shadow':
          '4px 4px 8px ' +
          darkColour?.lighten(4) +
          ' , -4px -4px 8px ' +
          lightColour?.lighten(1)
      }">
      Cancel
    </button>
    <input type="color" formControlName="colour" />
  </div>
</form>
