<form [formGroup]="this.formGroup" (ngSubmit)="onClickSubmit()">
  <div>
    <label for="id">Email:</label>
    <input formControlName="email" required type="text" />
  </div>
  <div>
    <label for="id">Password:</label>
    <input formControlName="password" required type="password" />
  </div>
  <div>
    <label for="id">One Time Code:</label>
    <input formControlName="one-time-code" required type="password" />
  </div>
  <button type="submit">Register</button>
</form>
