<header>
  <ng-content select="header-slot"></ng-content>
</header>
<main>
  <ng-content select="main-slot"></ng-content>
</main>
<footer #footer>
  <ng-content select="footer-slot"></ng-content>
  <div>
    <p>Copyright © Zac Pez, {{ year }}. v{{ version }}</p>
    <modal-login [events]="basicAuthService.authEvents.asObservable()">
    </modal-login>
  </div>
</footer>
