<modal [events]="modalEvents.asObservable()">
  <header-slot>
    <h3>Log in with</h3>
  </header-slot>
  <body-slot>
    <div
      *ngIf="basicAuth.notification.length"
      class="notification notification--error">
      <p>{{ basicAuth.notification }}</p>
    </div>
    <form-login (success)="onSuccess()" [events]="modalEvents.asObservable()">
    </form-login>
  </body-slot>
  <footer-slot>
    <button (click)="onClickSubmit()">Login</button>
  </footer-slot>
</modal>
