<basic-template>
  <header-slot>
    <a class="page-name" [routerLink]="['/']">
      <h1>Internet Artifice</h1>
    </a>
    <span>
      <a class="button" [routerLink]="['/boards']">Project Boards</a>
    </span>
    <span>
      <a class="button" [routerLink]="['/tracker']">Time Tracker</a>
    </span>
    <span>
      <login-logout></login-logout>
    </span>
  </header-slot>
  <main-slot>
    <article>
      <h2>Page not found</h2>
      <section class="info-row">
        <div>
          <h3>Check out the Project Boards</h3>
          <ul>
            <li>
              <a [routerLink]="['/board/internet-artifice']"
                >Internet Artifice</a
              >
            </li>
            <li><a [routerLink]="['/board/zacpez']">zacpez.com</a></li>
            <li>
              <a [routerLink]="['/board/rdfplayground']">RDF Playground</a>
            </li>
            <li>
              <a [routerLink]="['/board/appear-schema']">Appear Schema</a>
            </li>
          </ul>
        </div>
        <div>
          <h3>Learn more about Internet Artifice</h3>
          <ul>
            <li><a [routerLink]="['/about']">About</a></li>
            <li><a [routerLink]="['/docs']"></a>Documentation</li>
          </ul>
        </div>
      </section>
    </article>
  </main-slot>
</basic-template>
