.search-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  .search-title {
    margin: 16px 0;
  }
}

.project-list-item {
  display: flex;
  margin-bottom: 24px;
  padding: 12px;
  background: var(--background-color);
  box-shadow: 4px 4px 8px var(--gradient-start-color), -4px -4px 8px var(--gradient-end-color);

  .project-avatar {
    width: 56px;
    height: 56px;
    margin-right: 0.5rem;
  }

  p {
    color: var(--foreground-color);
    margin: 0;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
