<basic-template>
  <header-slot>
    <a class="page-name" [routerLink]="['/']">
      <h1>Internet Artifice</h1>
    </a>
    <span>
      <a class="button" [routerLink]="['/boards']">Project Boards</a>
    </span>
    <span>
      <a class="button" [routerLink]="['/tracker']">Time Tracker</a>
    </span>
    <span>
      <login-logout></login-logout>
    </span>
  </header-slot>
  <main-slot>
    <div class="search-container">
      <h2 class="search-title">Search for {{ queryAsString }}</h2>
      <div>
        <project-list-item-loader
          *ngIf="isProjectsLoading"></project-list-item-loader>
        <div *ngFor="let project of projects" class="project-list-item">
          <a [routerLink]="['/board/' + project.id]">
            <div class="project-avatar">
              <content-loader [animate]="false" viewBox="0 0 56 56">
                <svg:rect
                  x="0"
                  y="0"
                  rx="2"
                  ry="2"
                  width="56px"
                  height="56px" />
              </content-loader>
            </div>
          </a>
          <div>
            <a [routerLink]="['/board/' + project.id]">
              <b>{{ project.name }}</b>
            </a>
            <p>{{ project.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </main-slot>
</basic-template>
