<basic-template>
  <header-slot>
    <a class="page-name" [routerLink]="['/']">
      <h1>Internet Artifice</h1>
    </a>
    <span>
      <a class="button" [routerLink]="['/boards']">Project Boards</a>
    </span>
    <span>
      <a class="button" [routerLink]="['/tracker']">Time Tracker</a>
    </span>
    <span>
      <login-logout></login-logout>
    </span>
  </header-slot>
  <main-slot>
    <article>
      <section class="h-96 grid bg-gradient-end-color">
        <div class="my-auto h-24">
          <h2>Internet Artifice</h2>
          <h3>Self or group project organization</h3>
        </div>
      </section>
      <section class="">
        <h2>Disclaimer</h2>
        <div class="">
          <p>
            IA is a completely experimental project management platform.
            Whereby, there is no offer service level agreement, or terms of
            service. Both personal data and application functionality may
            suddenly change without warning, although some changes will tracked
            on the Internet Artifice project board.
          </p>
        </div>
      </section>
      <section>
        <h2>Packages</h2>
        <div class="grid grid-cols-3 gap-4">
          <div class="card p-4 rounded-xl">
            <h3 class="text-3xl mt-0">Free</h3>
            <ul class="-ml-4 mb-8 list-none">
              <li>
                <h4>1 project</h4>
                <span>A grouping of lists</span>
              </li>
              <li>
                <h4>10 lists</h4>
                <span>A grouping of items</span>
              </li>
              <li>
                <h4>Cannot share or publish</h4>
                <span>Collaboration tools</span>
              </li>
            </ul>
            <basic-button>Learn more</basic-button>
          </div>
          <div class="card p-4 rounded-xl">
            <h3 class="text-3xl mt-0">Basic</h3>
            <ul class="-ml-4 mb-8">
              <li><h4>10 projects</h4></li>
              <li><h4>100 lists</h4></li>
              <li><h4>Sharing & publishing</h4></li>
            </ul>
            <basic-button>Learn more</basic-button>
          </div>
          <div class="card p-4 rounded-xl">
            <h3 class="text-3xl mt-0">Group</h3>
            <ul class="-ml-4 mb-8">
              <li><h4>Unlimited projects</h4></li>
              <li><h4>Unlimited lists</h4></li>
              <li><h4>Sharing & publishing</h4></li>
            </ul>
            <basic-button>Learn more</basic-button>
          </div>
        </div>
      </section>
      <section>
        <div>
          <h2>Getting Started</h2>
          <div>
            <p>
              To begin, please
              <a [routerLink]="['/request-access']">request access</a> to the
              start managing projects in Internet Artifice. At this time there
              is limited entry to early adopters.
            </p>
          </div>
        </div>
      </section>
    </article>
  </main-slot>
</basic-template>
