<form [formGroup]="this.formGroup" (ngSubmit)="onClickSubmit()">
  <div>
    <label for="id"><b>Email</b></label>
    <input formControlName="email" required type="text" />
  </div>
  <div>
    <label for="id"><b>Password</b></label>
    <input formControlName="password" required type="password" />
  </div>
  <button class="visually-hidden" type="submit">Login</button>
</form>
