a.button,
button {
  cursor: pointer;
  color: var(--foreground-color);
  border: none;
  border-radius: 8px;
  font-size: 12px;
  padding: 8px 12px;
  background: var(--background-color);
  box-shadow: 4px 4px 8px var(--gradient-start-color), -4px -4px 8px var(--gradient-end-color);

  &:hover {
    background: var(--background-color-hover);
    box-shadow: 4px 4px 8px var(--gradient-start-color-hover), -4px -4px 8px var(--gradient-end-color-hover);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

button.flat {
  box-shadow: none;
}

a.button {
  font-size: 12px;
  text-decoration: none;
  line-height: 20px;
}

a.pill {
  color: var(--foreground-color-inverted);
  background: var(--foreground-color);
  box-shadow: none;
  border-radius: 24px;

  &:hover {
    color: var(--foreground-color);
    background: var(--foreground-color-inverted);
    box-shadow: none;
    border-radius: 24px;
  }
}
