form div {
  display: flex;
  flex-direction: column;

  input {
    flex: 1 1 auto;
  }
}

form input[type="text"],
form input[type="password"],
form select {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  color: var(--input-color);
  background-color: var(--input-background-color);
}

form input[type="range"] {
  margin: 0.33rem 0;
}
