basic-template {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main main-slot,
footer footer-slot {
  display: flex;
}

header header-slot {
  display: flex;
  overflow: hidden;
  background: #0d0d07;
  box-shadow: 8px 8px 16px #050503, -8px -8px 16px #15150b;

  a,
  span {
    padding: 0.5rem;
  }

  a.page-name {
    text-decoration: none;
    color: var(--foreground-color);
  }

  h1 {
    margin: 0;
  }

  span {
    height: 200%;
    align-self: center;
  }
}

main {
  flex: 1;

  main-slot {
    flex-direction: column;
  }
}

footer {
  background: #0d0d07;
  box-shadow: 8px 8px 16px #050503, -8px -8px 16px #15150b;
}
