:root {
  --primary-color: rgba(0, 0, 0, 1);
  --secondary-color: rgba(0, 0, 0, 1);

  --foreground-color: #aaa;
  --foreground-color-inverted: #555;

  --link-color: #eea;
  --link-color-hover: #ffd;
  --link-color-active: #bb8;

  --background-color: #0d0d07;
  --background-color-hover: #11110b;

  --input-color: rgba(255, 255, 255, 0.8);
  --input-background-color: rgba(0, 0, 0, 0.33);

  --gradient-start-color: #050503;
  --gradient-start-color-hover: #090907;
  --gradient-end-color: #15150b;
  --gradient-end-color-hover: #19190f;
}
